
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
   
    background-color: rgb(180, 220, 243);
    
}
#current-weather{ background-color: rgb(164, 161, 170);
box-shadow: 5px 10px #392879; 
border-radius: 5px;
padding-bottom: 20px;
margin-bottom: 20px;}


h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}


li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
.tooMuchSun{padding: 5px; background-color: rgb(236, 25, 10);}
.moderateSun {background-color: rgb(197, 180, 21);}
.noSun{background-color: rgb(53, 161, 10);}