
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
   
    background-color: rgb(180, 220, 243);
    
}
#current-weather{ background-color: rgb(111, 109, 114);}


h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}


li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
.tooMuchSun{ background-color: rgb(236, 25, 10);}
.moderateSun {background-color: rgb(197, 180, 21);}
.noSun{background-color: rgb(53, 161, 10);}